
.Hourly-Forecast-Container{
    width: 100%;
    backdrop-filter: var(--ForecastBackdropFilter);
    overflow-x: auto;
    box-sizing: border-box;
    padding-left: 15px;
    background-color: var(--ForecastBackground);
    border-radius: var(--ForecastBorderRadius);
    border: var(--ForecastBorder)
}

.Hourly-Forecast{
    display: flex;
    align-items: center;
    gap: 15px;
}

.Hourly-Forecast-Input{
    flex-shrink: 0;
    width: fit-content;
    padding: 20px 10px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-direction: column;
}

.Hourly-Forecast-Input p{
    margin: 0;
}

.Hourly-Forecast-Input-Icon{
    font-size: 35px;
    height: 50px;
}

.Hourly-Forecast-Input-Hours{
    font-size: 20px;
    font-weight: 900;
    border-radius: 20px;
    height: fit-content;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 50px;
}

.Hourly-Forecast-Input-Temp{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 20px;
    height: fit-content;
    height: 30px;
    box-sizing: border-box;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 50px;
}

.Daily-Forecast-Container{
    display: flex;
    width: 100%;
    background-color:  var(--ForecastBackground);
    backdrop-filter: var(--ForecastBackdropFilter);
    border: var(--ForecastBorder);
    border-radius: var(--ForecastBorderRadius);
    box-sizing: border-box;
    padding: 25px 0px;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.Daily-Forecast-Input{
    width: 90%;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px rgba(255, 255, 255, 0.396) solid;
    height: 50px;
    align-items: center;
}

.Daily-Forecast-Input-Range{
    width: 100px;
    height: 10px;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(95, 95, 95);
}

.Daily-Forecast-Input-Range-Acitve{
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(40, 198, 237) ,rgb(255, 208, 0));
}

.Daily-Forecast-Input-Day {
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    width: 60px;
}

.Daily-Forecast-Input-Icon{
    width: 10%;
}

.Daily-Forecast-Input-Min{
    width: 20px;
}

.Daily-Forecast-Input-Max{
    width: 20px;
}

.Daily-Forecast-Input-Temp{
    flex-shrink: 0;
    display: flex;
    width:  70%;
    justify-content: center;
    gap:5px;
    box-sizing: border-box;
    padding-right: 20px;
    align-items: center;
    display: flex;
    justify-content: end;
}

