.Search-Input-Text{
    font-size: 16px;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 20px;
    border:none;
    top:0;
    box-sizing: border-box;
    padding: 0px 35px;
    outline: none;
}

.Search-Input-Text-Hint{
    color:gray;
    height: 100%;
    bottom: -31%;
    display: flex;
    justify-content: center;
    left: 35px;
    font-weight: 10;
    pointer-events: none;
    align-items: center;
    z-index: 1;
    position: absolute;
    font-size: 15px;
    transition: 0.5s ease;
}

.Search-Input-Text-Hint-Hidden{
    color:gray;
    height: 100%;
    bottom: -31%;
    display: flex;
    justify-content: center;
    left: 50px;
    opacity: 0;
    font-weight: 10;
    pointer-events: none;
    align-items: center;
    z-index: 1;
    position: absolute;
    transition: 0.2s ease;
    font-size: 15px;
}

.Search-Input-Button{
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 20px;
    border:1px rgb(255, 255, 255) solid;
    background-color: white;
}

.Search-Input-Text-Container{
    position: relative;
    width: 300px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-radius: 20px;
    z-index: 1;
    display: flex;
}

.Search-Input-Text-Icon{
    position: absolute;
    left: 10px;
    pointer-events: none;
    z-index: 1;
    color:black;
}

.Search-Inputs-Container{
    display: flex;
    justify-content: space-between;
    gap:50px;
    align-items: center;
}

.Search-List{
    position: absolute;
    border-bottom-left-radius: var(--ForecastBorderRadius);
    border-bottom-right-radius: var(--ForecastBorderRadius);
    border: var(--ForecastBorder);
    background-color: var(--ForecastBackground);
    width: 100%;
    max-height: 0px;
    z-index: -1;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0px;
    backdrop-filter: var(--ForecastBackdropFilter);
    overflow-y: auto;
    display: flex;
    gap:1px;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.Search-List-Open{
    position: absolute;
    border-bottom-left-radius: var(--ForecastBorderRadius);
    border-bottom-right-radius: var(--ForecastBorderRadius);
    border: var(--ForecastBorder);
    background-color: var(--ForecastBackground);
    width: 100%;
    z-index: -1;
    margin-top: 20px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease;
    padding: 37px 10px;
    max-height: 300px;
    gap:15px;
    transition: 0.3s ease-in-out;
}


.Search-List-Item{
    width: 90%;
    min-height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    white-space: wrap;
    word-break: break-all;
    border-radius: 15px;
    padding: 0px 20px;
    box-sizing: border-box;
    gap:10px;
    background-color: rgba(0, 0, 0, 0.436);
    border:1px rgba(255, 255, 255, 0.363) solid;
}
