:root {
  font-family:Helvetica;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  z-index: -20;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  transition:  0s ease;
  transition-property: background-color;
  min-width: 320px;
  height: 100lvh;
  color: #333; 
  background-color: #091f5056;
  background-size: 500px;
}

h1{
  color:white;
  width: fit-content;
  margin: 0;

}

h2{
  color:white;
  font-size: 20px;
}

li{
  color:white;
}


.NavbarContainer {
  background-color: rgba(15, 15, 15, 1);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.8);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 20;
}


.Navbar
{
  width: 90%;
  gap:30%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.icon{
  width: 80px;
}

.WeatherAditionalIcons{
  z-index: -2;
    align-items: center;
  padding-inline: 20px;
  height: 130px;
  display: flex;
  justify-content: center;
  filter:drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3))
}

.WeatherIcon{
  float: right;
  width: 150px;
  height: 150px;
}

.SearchMenu {
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #131313;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.SearchList {
  z-index: 55;
  box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.486);
  position: absolute;
  display: flex;
  transition: 0.5s ease;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 25px;
  width: 250px;
  max-height: 200px;
  padding-inline: 0px;
  padding: 10px;
  gap:10px;
  margin-top: 43px;
  background-color: #131313;
  overflow:auto;
}


.SearchMenu .Inputs{
  display: flex;
  width: 100%;
  gap:20px;
  justify-content: space-evenly;
}

.SearchMenu .InputText
{
  font-size: 16px;

  text-transform: capitalize;
  border-radius: 10px;
  padding-inline: 5px;
  transition: 0.25s ease;
}

.SearchMenu .InputText:focus
{
  scale: 1.05;
  box-shadow: 0 5px 15px rgba(0, 0, 0.2); 
}

.DataContainer {
  display: flex; 
  flex-direction: column;
  gap: 20px; 
  justify-items: center;
  align-items: center; 
  padding: 20px 25px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.33);
  border-radius: 30px;
}

.CitySearchHint{
  transition: 0.25s ease;
  border-radius: 25px;
  padding: 5px 5px;
  margin: 0;
  color:rgba(255, 255, 255, 0.322);
  text-align: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.363);
  width: 150px;
  background-color: rgba(128, 128, 128, 0.075);
}

.CitySearchHint:hover{
  scale: 1.2;
  color:white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.205);
}

.Data{
  width: fit-content;
  border-radius: 30px;
  padding: 20px;
  background-color:rgb(20, 20, 20);
  width: 96%;
  display: flex;
  flex-direction: column;
}

.Data h1{
  margin:0;
}

.Data h2{
  margin:0;
  text-align: left;
}

.Data h3{
  text-align: left;
  color:rgb(90, 90, 90);
  font-weight: 200;
  font-size: 15px;
  margin:0;
}


@media only screen and (max-width:600px)
{
  .WeatherAditionalIcons{
    z-index: -2;
    padding-inline: 20px;
    height: 130px;
    align-items: center;
    display: flex;
    justify-content: left;
    filter:drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3))
  }
  .DataContainer {
    display: flex; 
    flex-direction: column;
    gap: 20px; 
    justify-items: center;
    align-items: center; 
    width: 90%;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 25px;
    padding: 20px 19px;
  }
  
  
  .Data{
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
  
    background-color:rgb(20, 20, 20);
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  
  .Data h1{
    margin:0;
  }
  
  .Data h2{
    margin:0;
    text-align: left;
  }
  
  .Data h3{
    text-align: left;
    color:rgb(90, 90, 90);
    font-weight: 200;
    font-size: 15px;
    margin:0;
  }
  
.NavbarContainer {
  background-color: rgba(15, 15, 15, 0.7);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.8);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 24440;
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px); 
  }
  h1{
    color:white;
    width: fit-content;
    font-size: 28px;
  }
  .Navbar
{
  width: 95%;
  gap:5%;
  justify-content: center;
  align-items: center;
  display: flex;
}
}