.root {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}

.MainContainer{
  width: 90%;
  max-width: 800px;
}

body, html {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

html {
  background-color: black;
}

*{
  --ForecastBorder: 1px rgba(255, 255, 255, 0.442) solid;
  --ForecastBackground: rgba(18, 18, 18, 0.72);
  --ForecastBackdropFilter: blur(2px);
  --ForecastBorderRadius: 20px;
}
